body {
    background-color: #01abaa;
    background-image: url('http://i.imgur.com/J4tNoPJ.jpg'); 
    background-size: 1281px;
    
    background-repeat: no-repeat;
    margin: 0px;

}

.gameheader {
    background-color:#fedc3d;
    display: flex;
    justify-content: center;
    margin: 0px;
}

h1 {
    padding: 0px;
    color: white;
    font-size: 45px;
    font-family: "MyFirstFont";
    letter-spacing: 3px;
}

.button {
    display: flex;
    justify-content: center;
    margin: 30px 50px;
    padding-top: 200px;
}

button {
    background-color: red;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    padding-top: 15px;
    font-family: "MyFirstFont";
    font-size: 25px;
}

.main {
    display: flex;
    justify-content: center;
}

table {
    display: none; 
    margin: 50px 60px; 
    margin-right: 170px;
    justify-content: center;
    border: none;
    table-layout: fixed;

    border-spacing: 0px 0px;

}

tr {
    table-layout: fixed;

}

td{
    /* background-color: rgb(124, 170, 255); */
    background-color:  rgb(51, 117, 204);
    padding: 25px;
    font-family: "MyFirstFont";
    color: red;
    margin: 0;
    text-align: center;
    font-size: 20px;
    table-layout: fixed;
}

.flag {
    /* background-color: red; */
    background-image: url('/Users/KhuzamShubbar/Desktop/misk/project1/images/pistol-with-white-flag-comic-book-pop-art-vector-21039335 copy.jpg');
}

.mine{
    /* background-color: red; */
}

.clicked {

    /* padding-left: 2px;
    padding-right: 2px; */
    /* padding: 2px; */


}